/HotOrNot/*.iml
/HotOrNot/.gradle
/HotOrNot/local.properties
/HotOrNot/.idea
/.idea
/HotOrNot/.idea/caches
/HotOrNot/.idea/libraries
/HotOrNot/.idea/modules.xml
/HotOrNot/.idea/workspace.xml
/HotOrNot/.idea/navEditor.xml
/HotOrNot/.idea/assetWizardSettings.xml
/HotOrNot/.idea/vcs.xml
/HotOrNot/.DS_Store
/HotOrNot/build
/HotOrNot/captures
/HotOrNot/.externalNativeBuild
/HotOrNot/.cxx
/HotOrNot/local.properties
